<div class='flex h-screen overflow-hidden'>
  <div class='shadow-lg z-50'>
    <img alt='' class='px-4 mt-8 xl:px-24 h-20 w-auto mb-8' src='../assets/first-aid-sign.png'>
    <div class='flex flex-1 flex-col mt-2 justify-center'>
      <div class='mb-4 px-8 xl:ps-8'>
        <h3 class='text-base font-semibold leading-6 text-gray-900'>
          Notification Feed
        </h3>
        <p class='text-sm text-gray-500'>Assign a message to an appropriate paramedic.</p>
      </div>
      <div class='pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center sm:px-6 sm:pb-5 lg:px-8'>
        <div
          class='pointer-events-auto flex items-center justify-between gap-x-6 bg-gray-900 px-6 py-2.5 sm:rounded-xl sm:py-3 sm:pl-4 sm:pr-3.5'>
          <p class='text-sm leading-6 text-white'>
            <a href='#'>
              <strong class='font-semibold'>You have {{notificationsData.length }} unassigned messaged</strong>
              <svg aria-hidden='true' class='mx-2 inline h-0.5 w-0.5 fill-current' viewBox='0 0 2 2'>
                <circle cx='1' cy='1' r='1' />
              </svg>
              Assign a message to an appropriate paramedic.
            </a>
          </p>

        </div>
      </div>
      <div class='mx-auto w-full max-w-lg lg:w-96 overflow-y-scroll overflow-x-hidden h-full'>
        <ul cdkDropList role='list'>
          <li (cdkDragEnded)='dragging = false' (cdkDragStarted)='dragging = true'
              *ngFor='let notification of notificationsData' cdkDrag
              class='col-span-1 divide-y divide-gray-200 rounded-lg my-1 shadow-lg w-full cursor-grab'>

            <app-notification [notification]='notification' />
            <app-notification *cdkDragPlaceholder [notification]='notification' />
            <app-notification-drag-preview *cdkDragPreview [notification]='notification' />
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class='relative w-0 flex-1 z-100'>
    <app-map></app-map>
    <div #fakeDragAndDropBox (mouseup)='assignMission()'
         [ngStyle]="{'pointerEvents': dragging ? 'auto' : 'none'}" cdkDropList
         class='absolute !z-150 block w-[50%] h-[50%] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2'></div>
  </div>


</div>
